/* Menu no canto superior esquerdo */
nav {
  background-color: #0066cc;
  padding: 10px;
  position: fixed;   /* Fixa no topo */
  top: 0;
  left: 0;
  width: 100%;       /* ocupa toda a largura */
}

nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: flex-start; /* alinha à esquerda */
}

nav ul li {
  margin-right: 20px;
}

/* Personalização de cada item */
nav ul li:nth-child(1) a { color: #021ebd; } /* Início azul escuro*/
nav ul li:nth-child(2) a { color: #021ebd; } /* Sobre azul escuro */
nav ul li:nth-child(3) a { color: #021ebd; } /* Alertas azul escuro */
nav ul li:nth-child(4) a { color: #021ebd; } /* Contato azul escuro */

nav ul li a {
  text-decoration: none;
  font-weight: bold;
}

nav ul li a:hover {
  text-decoration: underline;
}
body {
  font-family: Arial, sans-serif;
  background-color: #e6f2ff; /* azul bem clarinho */
  color: #333;
  margin: 0;
  padding: 0;
}
